@import "tailwindcss";

:root {
  --background: #050510;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Canvas handles scroll */
}

/* Custom Scrollbar for hidden scroll areas */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
